{%extends 'main.html'%}

{%block content%}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        <p>
            <small>
                @{{room.user.username}} posted {{room.name}}
            </small>
        </p>
        <h3>{{room.description}}</h3>
        <hr>
        <div class="comment-wrapper">
            <h3><b>Conversations</b></h3>
            

            <small>@{{room_message.user}} posted {{room_message.created|timesince}} ago</small>

            {%if request.user == room_message.user %}
            <a href="{%url 'delete-message' room_message.id %}"> <small>delete</small> </a>    
            {%endif%}
            <p>
                {{room_message.body}}
            </p>
            <hr>
            {%endfor%}
            <h1>{{room.description}}</h1>
        </div>
        {%if request.user.is_authenticated%}
        <div class="comment-form">
            <form action="" method="POST">
                {%csrf_token%}
                <input type="text" name="comment" placeholder="write comments here" >
            </form> 
        
        </div>
        {%else%}
        <h2>login to comment under this post</h2>
        {%endif%}
        
    </div>

    <div>
        <h2>Participants</h2>
        <hr>
        <h4>@{{participant.username}}</h4>
        {%endfor%}
    </div>
</div>

{%endblock content%}